@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(359deg); }
}

.u-spin-animate { animation: spin .2s infinite linear; }

.MaterialCard {
  --title-color: #FFF;
  --text-color: #333;
  --card-color: #FE4918;
  --card-dark-color: #E74316;
  --card-light-color: #FEBCAB;
  --card-light-color-2: #FEDDD5;

  position: relative;
  width: 100%;
  min-width: 280px;
  height: 0;
  padding-bottom: calc(100% - 16px);
  margin-bottom: 6.6em;

  &-header {
    position: absolute;
    top: calc(100% - 16px);
    left: 0;
    width: 100%;
    padding: 10px 16px;
    font-size: 1.4em;
    line-height: 1.6em;
    margin: 0;
    z-index: 10;
    transition: all .3s;
    background-color: var(--card-color);
    color: var(--title-color);

    &::before,
    &::after {
      content: ' ';
      position: absolute;
      left: 0;
      top: -16px;
      width: 0;
      border: 8px solid;
      transition: all .3s;
      border-top-color: transparent;
      border-right-color: var(--card-dark-color);
      border-bottom-color: var(--card-dark-color);
      border-left-color: transparent;
    }

    &:after {
      top: auto;
      bottom: 0;
      border-top-color: var(--card-color);
      border-right-color: var(--card-color);
      border-bottom-color: transparent;
      border-left-color: transparent;
    }

    & h2 {
      font-size: 1.1rem;
      @media screen and (min-width: 30em) { font-size: 1.25rem; }
      @media screen and (min-width: 37.5em) { font-size: 1.1rem; }
      @media screen and (min-width: 48em) { font-size: 1.25rem; }
      @media screen and (min-width: 64em) { font-size: 1.3rem; }
      @media screen and (min-width: 75em) { font-size: 1.4rem; }
    }

    & strong {
      font-weight: 400;
      display: block;
      font-size: .8em;
    }
  }

  &-btnAction {
    position: absolute;
    right: 16px;
    top: 15px;
    border-radius: 50%;
    border: thick solid var(--title-color);
    width: 54px;
    height: 54px;
    line-height: 44px;
    text-align: center;
    background-color: var(--card-color);
    color: var(--title-color);
    cursor: pointer;
    z-index: 20;
    transition: all .3s;

    &:hover {
      background-color: var(--card-dark-color);
      color: var(--title-color);
    }
  }

  &-figure {
    position: absolute;
    right: 0;
    top: 0;
    bottom: 16px;
    left: 16px;
    transition: all .3s;
    background-color: var(--card-light-color);
    color: var(--text-color);
  }

  &-description {
    position: absolute;
    top: 100%;
    right: 30px;
    left: 30px;
    bottom: 54px;
    overflow: hidden;
    opacity: 0;
    transition: all 1.2s;
  }

  &-image {
    position: absolute;
    overflow: hidden;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    z-index: 3;
    transition: all .3s;
    & img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &-footer {
    height: 0;
    overflow: hidden;
    transition: all .8s;
    background-color: var(--card-light-color-2);

    & ul {
      list-style-type: none;
      display: flex;
      justify-content: space-around;
      align-items: center;
    }

    & li {
      position: relative;
      top: 200px;
      text-align: center;
      font-weight: bold;
      flex-basis: 30%;

      &:nth-child(1) { transition: all .5s; }
      &:nth-child(2) { transition: all .7s; }
      &:nth-child(3) { transition: all .9s; }
    }

    & span {
      display: block;
      color: var(--text-color);
    }

    & a {
      width: 50px;
      height: 50px;
      line-height: 50px;
      border-radius: 50px;
      font-size: 25px;
      text-decoration: none;
      color: var(--title-color);
      background-color: var(--card-dark-color);
      &:hover { background-color: var(--card-color); }
    }
  }

  /* Card Active */
  &.is-active {
    @media screen and (max-width: 767px) {
      padding-bottom: 0;
      height: auto;

      & .MaterialCard-figure {
        position: relative;
        margin-right: 16px;
      }
    }

    & .MaterialCard-header {
      top: 0;
      padding: 10px 16px 10px 90px;

      & h2 {
        font-size: .75rem;
        @media screen and (min-width: 30em) { font-size: 1rem; }
        @media screen and (min-width: 37.5em) { font-size: .8rem; }
        @media screen and (min-width: 48em) { font-size: 1rem; }
        @media screen and (min-width: 75em) { font-size: 1.15rem; }
      }

      &::before {
        top: 0;
        border-top-color: transparent;
        border-right-color: var(--card-color);
        border-bottom-color: var(--card-color);
        border-left-color: transparent;
      }

      &::after {
        bottom: -16px;
        border-top-color: var(--card-dark-color);
        border-right-color: var(--card-dark-color);
        border-bottom-color: transparent;
        border-left-color: transparent;
      }
    }

    & .MaterialCard-btnAction { top: 62px; }

    & .MaterialCard-figure { padding-top: 5.6em; }

    & .MaterialCard-description {
      padding-top: 5.6em;
      top: 30px;
      opacity: 1;
      @media screen and (max-width: 767px) {
        position: relative;
        top: auto;
        right: auto;
        left: auto;
        padding: 50px 30px 70px 30px;
        bottom: 0;
      }

      @media screen and (min-width: 64em) {
        right: 16px;
        left: 16px;
        bottom: 16px;
      }
    }

    & .MaterialCard-image {
      border-radius: 50%;
      left: 0;
      top: 12px;
      width: 60px;
      height: 60px;
      z-index: 20;
    }

    & .MaterialCard-footer {
      position: absolute;
      overflow: visible;
      opacity: 1;
      top: calc(100% - 16px);
      left: 16px;
      right: 0;
      height: 90px;
      padding: .5rem;

      & li { top: 0; }
    }
  }
}

/*
  https://coolors.co/
  img-color: 9;
  --card-color: 8;
  --card-dark-color: 10;
  --card-light-color: 4;
  --card-light-color-2:  2;
*/
.MaterialCard.Red-AS3 {
  --card-color: #4F3137;
  --card-dark-color: #391B21;
  --card-light-color: #B8ACAF;
  --card-light-color-2: #CBD5D7;
}

.MaterialCard.Purple-PHP {
  --card-color: #5F609B;
  --card-dark-color: #494A85;
  --card-light-color: #BFBFD7;
  --card-light-color-2: #DFDFEB;
}

.MaterialCard.Orange-HTML5 {
  --card-color: #FF6619;
  --card-dark-color: #E85002;
  --card-light-color: #FFC1A3;
  --card-light-color-2: #FFE0D1;
}

.MaterialCard.Yellow-JS {
  --card-color: #E7C143;
  --card-dark-color: #D1AA2D;
  --card-light-color: #F5E6B4;
  --card-light-color-2: #FAF2D9;
}

.MaterialCard.Green-Node {
  --card-color: #54904E;
  --card-dark-color: #3D7938;
  --card-light-color: #BAD2B8;
  --card-light-color-2: #DCE8DB;
}

.MaterialCard.Blue-jQuery {
  --card-color: #1F77B5;
  --card-dark-color: #09619F;
  --card-light-color: #A5C8E1;
  --card-light-color-2: #D2E3F0;
}

.MaterialCard.Blue-React {
  --card-color: #6FDDFB;
  --card-dark-color: #59C7E5;
  --card-light-color: #C5F1FD;
  --card-light-color-2: #E2F8FE;
}

.MaterialCard.Black-WordPress {
  --card-color: #383B40;
  --card-dark-color: #222529;
  --card-light-color: #AFB0B2;
  --card-light-color-2: #D7D7D8;
}

.MaterialCard.Red-Responsive {
  --card-color: #DF4138;
  --card-dark-color: #C82A22;
  --card-light-color: #F2B3AF;
  --card-light-color-2: #F8D9D7;
}

.MaterialCard.Green-Vue {
  --card-color: #52BE8E;
  --card-dark-color: #3CA878;
  --card-light-color: #B9E5D1;
  --card-light-color-2: #DCF2E8;
}

.MaterialCard.Blue-Vue {
  --card-color: #47596C;
  --card-dark-color: #314356;
  --card-light-color: #B5BCC4;
  --card-light-color-2: #DADDE1;
}

.MaterialCard.Brown-kEnAi {
  --card-color: #9B9B7F;
  --card-dark-color: #858469;
  --card-light-color: #D7D7CC;
  --card-light-color-2: #EBEBE5;
}

.MaterialCard.Blue-Bextlan {
  --card-color: #345F8C;
  --card-dark-color: #1E4976;
  --card-light-color: #ADBFD1;
  --card-light-color-2: #D6DFE8;
}

.MaterialCard.Brown-CafeLatino {
  --card-color: #5A442E;
  --card-dark-color: #442E18;
  --card-light-color: #BDB4AB;
  --card-light-color-2: #DED9D5;
}
