.Menu {
  @extend .u-flexRowSpaceAround;
  padding-top: 1rem;
  padding-bottom: 1rem;
  font-size: 5vw;

  @media screen and (min-width: 30em) { font-size: 4.5vw; }
  @media screen and (min-width: 37.5em) { font-size: 4vw; }
  @media screen and (min-width: 48em) { font-size: 3.5vw; }
  @media screen and (min-width: 64em) { font-size: 2.5vw; }
}
