<!DOCTYPE html>
<html lang="es">
<head>
	<meta charset="UTF-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" />
	<title>Bryan</title>
	<meta name="description" content="Bryan. FUISTE, ERES y SIEMPRE SERÁS... LO MEJOR DE MÍ" />
	<!-- Metatags -->
	<link rel="shortcut icon" type="image/x-icon" href="img/favicon.ico" />
	<link rel="shortcut icon" type="image/png" href="img/favicon.png" />
	<link rel="apple-touch-icon" href="img/apple-touch-icon.png" />
	<link rel="author" type="text/plain" href="humans.txt" />
	<link rel="sitemap" type="application/xml" title="Sitemap" href="sitemap.xml" />
	<link rel="stylesheet" href="css/jonmircha.css" media="screen" />
	<link rel="stylesheet" href="css/print.css" media="print" />
</head>
<body>
	<section class="section  Bryan">
		<h1 class="Bryan__title">Bryan</h1>
		<h2 class="Bryan__slogan">
			<i class="fa fa-heart"></i> FUISTE, ERES y SIEMPRE SERÁS... LO MEJOR DE MÍ <i class="fa fa-heart"></i>
		</h2>
		<h3><a href="/"><i class="fa fa-home"></i></a></h3>
		<figure>
			<img src='img/Bryan.jpg' title='Bryan' alt='Bryan' />
			<figcaption class="Bryan__slogan">
				<strong><time datetime="2003-08-20">20/Agosto/2003</time> - <time datetime="2008-01-17">17/Enero/2008</time></strong>
			</figcaption>
		</figure>
	</section>
</body>
</html>