<!DOCTYPE html>
<html lang="es">
<head>
	<meta charset="UTF-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" />
	<title>JonMirCha - Web Instructor / Frontend & JS Architect</title>
	<meta name="description" content="Jonathan MirCha. Web Instructor & Consultant. Frontend & JS Architect. Founder of Bextlan & Co-founder of Tecnómadas. Marathoner(x5). My inspiration: Bryan & My Family. Welcome to my website." />
	<!-- Facebook Tags -->
	<meta property="fb:page_id" content="100000269464371" />
	<meta property="og:title" content="JonMirCha - Web Instructor / Frontend & JS Architect" />
	<meta property="og:type" content="website" />
	<meta property="og:url" content="http://jonmircha.com/" />
	<meta property="og:image" content="http://jonmircha.com/img/jonmircha.jpg" />
	<meta property="og:site_name" content="http://jonmircha.com/" />
	<meta property="og:description" content="Jonathan MirCha. Web Instructor & Consultant. Frontend & JS Architect. Founder of Bextlan & Co-founder of Tecnómadas. Marathoner(x5). My inspiration: Bryan & My Family. Welcome to my website." />
	<meta property="fb:admins" content="100000269464371" />
	<!-- Twitter Cards -->
	<meta name="twitter:card" content="summary_large_image" />
	<meta name="twitter:site" content="@jonmircha" />
	<meta name="twitter:creator" content="@jonmircha" />
	<meta name="twitter:title" content="JonMirCha - Web Instructor / Frontend & JS Architect" />
	<meta name="twitter:description" content="Web Instructor & Consultant. Frontend & JS Architect. Founder @Bextlan Co-founder @HeyTecnomadas. Marathoner(x5). My inspiration: ♥ Bryan & My Family ♥." />
	<meta name="twitter:image:src" content="http://jonmircha.com/img/jonmircha.jpg" />
	<!-- Metatags -->
	<link rel="shortcut icon" type="image/x-icon" href="img/favicon.ico" />
	<link rel="shortcut icon" type="image/png" href="img/favicon.png" />
	<link rel="apple-touch-icon" href="img/apple-touch-icon.png" />
	<link rel="author" type="text/plain" href="humans.txt" />
	<link rel="sitemap" type="application/xml" title="Sitemap" href="sitemap.xml" />
	<link rel="stylesheet" href="css/jonmircha.css" media="screen" />
	<link rel="stylesheet" href="css/print.css" media="print" />
</head>
<body>
	<section id="jonmircha" class="section">
		<h1 class="title--main">jonmircha</h1>
		<h2 class="title--slogan">Web Instructor / Frontend & JS Architect</h2>
		<p class="title--lang"><a href="/" class="es">es</a> | <a href="/en" class="en">en</a></p>
		<p class="title--print"><a id="print" href="#"><i class="fa fa-print"></i></a></p>
		<h4 class="title--down"><a id="arrow-down" href="#"><i class="fa fa-chevron-down"></i></a>
		</h4>
	</section>
	<section id="hello-world" class="section">
		<h2 class="title--sub">Hello World!</h2>
		<article class="section__figure">
			<p class="jon__about">
				<span><b>Jonathan MirCha</b></span>
				<span>Web Instructor & Consultant.</span>
				<span>Frontend & JS Architect.</span>
				<span>Founder of <a href="http://bextlan.com" target="_blank">Bextlan</a> & </span>
				<span>Co-founder of <a href="http://tecnomadas.com" target="_blank">Tecnómadas</a>.</span>
				<span>Marathoner(x5).</span>
				<span>My inspiration:</span>
				<span><i class="fa fa-heart"></i> <a href="/Bryan">Bryan</a> & My Family <i class="fa fa-heart"></i></span>
			</p>
		</article>
		<aside class="jon__cv">
			<article id="i-am" class="jon__cv__content">
				<h3 class="title--info">I am</h3>
				<ul class="jon__cv--info">
					<li><i class="fa fa-user"></i><span>Jonathan Ulises Miranda Charles</span></li>
					<li><i class="fa fa-birthday-cake"></i><span><time datetime="1984-05-23">23-May-84</time></span></li>
					<li><i class="fa fa-globe"></i><span>México</span></li>
					<li><i class="fa fa-map-marker"></i><span>D.F.</span></li>
					<li><i class="fa fa-university"></i><span>Systems Engineer</span></li>
					<li><i class="fa fa-graduation-cap"></i><span>Master in Communication with Virtual Media</span></li>
				</ul>
			</article>
			<article id="services" class="jon__cv__content">
				<h3 class="title--info">Services</h3>
				<ul class="jon__cv--info">
					<li>UI & UX Consulting</li>
					<li>Instruction & Training Web</li>
					<li>Lectures and Conferences</li>
					<li>Frontend Design and Layout</li>
					<li>Frontend Programming</li>
					<li>Backend Programming (<small>WordPress & Node.JS</small>)</li>
				</ul>
			</article>
			<article id="skills" class="jon__cv__content">
				<h3 class="title--info">Skills</h3>
				<ul class="jon__cv--info skills">
					<li>HTML5</li>
					<li>CSS3</li>
					<li>Responsive Design</li>
					<li>UI & UX</li>
					<li>JavaScript</li>
					<li>AJAX</li>
					<li>jQuery</li>
					<li>Node.JS</li>
					<li>PHP</li>
					<li>WordPress</li>
					<li>MySQL</li>
					<li>MongoDB</li>
					<li>AS3 & AS2</li>
					<li>Flash</li>
				</ul>
			</article>
			<article id="experience" class="jon__cv__content">
				<h3 class="title--info">Experience</h3>
				<h4 class="title--time">Current</h4>
				<ul class="jon__cv--jobs">
					<li>Co-founder & CEO of <a href="http://tecnomadas.com/" target="_blank">Tecnómadas</a> since 2015</li>
					<li>Teacher at <a href="http://usb.edu.mx/" target="_blank">USB</a> since 2015</li>
					<li>Teacher at <a href="http://escuela.it/docentes/jonathan-mircha/" target="_blank">Escuela IT</a> since 2013</li>
					<li><a href="http://desarrolloweb.com/" target="_blank">DesarrolloWeb.com</a> contributor since 2013</li>
					<li>Founder of <a href="http://bextlan.com/" target="_blank">Bextlan</a> since 2012</li>
					<li>Teacher at <a href="http://iconos.edu.mx/" target="_blank">ICONOS</a> since 2011</li>
				</ul>
				<h4 class="title--time">Above</h4>
				<ul class="jon__cv--jobs">
					<li>Teacher at <a href="http://mactrainee.com/" target="_blank">MacTrainee</a> (2012-2014)</li>
					<li>Teacher at <a href="http://www.universidaduvm.mx/" target="_blank">UVM</a> (2009-2012)</li>
					<li>Programmer at <a href="http://voit.com/" target="_blank">Voit</a> (2009)</li>
					<li>Teacher at <a href="http://www.univdep.edu.mx/" target="_blank">UNIVDEP</a> (2009-2013)</li>
					<li>Programmer at <a href="http://mvs.com/" target="_blank">MVS</a> (2006-2008)</li>
					<li>Freelance Flash Programmer (2004-2008)</li>
				</ul>
			</article>
		</aside>
	</section>
	<section id="projects" class="section">
		<h2 class="title--sub">Projects</h2>
		<p class="projects__description">
			In this section you will find the projects that I have been involved since startups, courses, websites or anything else that crosses my path.
		</p>
		<ul class="jon__projects">
			<li>
				<h4 class="title--projects">Courses</h4>
				<ul class="jon__projects--courses">
					<li>
						<a href="/vlog">Vlog<span> de MirCha</span></a>
					</li>
					<li>
						<a href="http://bextlan.com/cursos/nodejs" target="blank">Node.JS</a>
					</li>
					<li>
						<a href="http://bextlan.com/cursos/responsive-design" target="blank">Responsive<span> Design</span></a>
					</li>
					<li>
						<a href="http://bextlan.com/cursos/jquery" target="blank">jQuery</a>
					</li>
					<li>
						<a href="http://bextlan.com/cursos/wordpress" target="blank">WordPress</a>
					</li>
					<li>
						<a href="http://bextlan.com/cursos/web" target="blank"><span>Diseño y Programación </span>Web</a>
					</li>
					<li>
						<a href="http://bextlan.com/tutoriales/html5" target="blank">HTML5<span> & CSS3</span></a>
					</li>
					<li>
						<a href="http://bextlan.com/tutoriales/javascript" target="blank">JavaScript</a>
					</li>
					<li>
						<a href="http://bextlan.com/tutoriales/php" target="blank">PHP<span> & MySQL</span></a>
					</li>
					<li>
						<a href="http://bextlan.com/tutoriales/as3" target="blank">AS3</a>
					</li>
				</ul>
			</li>
			<li>
				<h4 class="title--projects">Websites</h4>
				<ul class="jon__projects--webs">
					<li>
						<a href="http://tecnomadas.com/" target="blank">tecnomadas<span>.com</span></a>
					</li>
					<li>
						<a href="http://jonmircha.com/" target="blank">jonmircha<span>.com</span></a>
					</li>
					<li>
						<a href="http://bextlan.com/proyectos/irmacrea" target="blank">irmacrea<span>.com</span></a>
					</li>
					<li>
						<a href="http://bextlan.com/" target="blank">bextlan<span>.com</span></a>
					</li>
					<li>
						<a href="http://bextlan.com/proyectos/ego" target="blank">ego<span>.net.mx</span></a>
					</li>
				</ul>
			</li>
			<li>
				<h4 class="title--projects">Flash Interactives</h4>
				<ul class="jon__projects--flash">
					<li>
						<a href="http://bextlan.com/proyectos/saint-seiya" target="blank">Saint Seiya</a>
					</li>
					<li>
						<a href="http://bextlan.com/proyectos/sindrome-down" target="blank"><span>Síndrome de </span>Down</a>
					</li>
					<li>
						<a href="http://bextlan.com/proyectos/matando-cabos" target="blank"><span>Matando </span>Cabos</a>
					</li>
					<li>
						<a href="http://bextlan.com/proyectos/Jo_On" target="blank">Jo_On</a>
					</li>
				</ul>
			</li>
		</ul>
	</section>
	<section id="contact" class="section">
		<h2 class="title--sub">Get in Touch</h2>
		<ul class="jon__contact">
			<li>
				<a title="twitter" href="http://twitter.com/jonmircha" target="_blank"><i class="fa fa-twitter"></i></a>
			</li>
			<li>
				<a title="facebook" href="http://facebook.com/jonmircha" target="_blank"><i class="fa fa-facebook-official"></i></a>
			</li>
			<li>
				<a title="youtube" href="http://youtube.com/bextlancom" target="_blank"><i class="fa fa-youtube"></i></a>
			</li>
			<li>
				<a title="github" href="http://github.com/jonmircha" target="_blank"><i class="fa fa-github"></i></a>
			</li>
			<li>
				<a title="instagram" href="http://instagram.com/jonmircha" target="_blank"><i class="fa fa-instagram"></i></a>
			</li>
			<li>
				<a title="google plus" href="http://plus.google.com/+jonathanmircha" target="_blank"><i class="fa fa-google-plus"></i></a>
			</li>
			<li>
				<a title="vlog" href="/vlog"><i class="fa fa-youtube-play"></i></a>
			</li>
			<li>
				<a title="email" href="mailto:j@bextlan.com" target="_blank"><i class="fa fa-envelope"></i></a>
			</li>
			<li>
				<a title="whats app" href="tel:5215518388261" target="_blank"><i class="fa fa-whatsapp"></i></a>
			</li>
		</ul>
	</section>
	<section id="mens-corpore" class="section">
		<h2 class="title--sub">Mens === Corpore</h2>
		<article class="mens-corpore">
			<p class="mens-corpore__description">
				I am a firm believer in the phrase:
				<cite><a href="http://es.wikipedia.org/wiki/Mens_sana_in_corpore_sano" target="_blank">"Mens sana in corpore sano"</a></cite>
				I love running marathons, cycling, exercising and walking kEnAi.
			</p>
			<ul class="mens-corpore__list">
				<li>
					<span>
						<a href="http://maratoncdmx.com/" target="_blank">CDMX Marathon 2014</a>
					</span>
					<span>
						<i class="fa fa-calendar-o"></i> <time datetime="2012-08-31">31-Ago-14</time>
					</span>
					<span>
						<i class="fa fa-clock-o"></i> <time>4:26:47</time>
					</span>
				</li>
				<li>
					<span>
						<a href="https://www.facebook.com/events/1418019728433348/" target="_blank">GDL Ultra Trail 50Km 2014</a>
					</span>
					<span>
						<i class="fa fa-calendar-o"></i> <time datetime="2014-03-30">30-Mar-14</time>
					</span>
					<span>
						<i class="fa fa-clock-o"></i> <time>8:23:01</time>
					</span>
				</li>
				<li>
					<span>
						<a href="http://maratonlala.org/" target="_blank">Lala Marathon 2014</a>
					</span>
					<span>
						<i class="fa fa-calendar-o"></i> <time datetime="2014-03-02">02-Mar-14</time>
					</span>
					<span>
						<i class="fa fa-clock-o"></i> <time>3:56:22</time>
					</span>
				</li>
				<li>
					<span>
						<a href="http://maratoncdmx.com/" target="_blank">CDMX Marathon 2013</a>
					</span>
					<span>
						<i class="fa fa-calendar-o"></i> <time datetime="2013-08-25">25-Ago-13</time>
					</span>
					<span>
						<i class="fa fa-clock-o"></i> <time>3:58:14</time>
					</span>
				</li>
				<li>
					<span>
						<a href="http://maratoncdmx.com/" target="_blank">CDMX Marathon 2012</a>
					</span>
					<span>
						<i class="fa fa-calendar-o"></i> <time datetime="2012-09-02">02-Sep-12</time>
					</span>
					<span>
						<i class="fa fa-clock-o"></i> <time>4:35:35</time>
					</span>
				</li>
			</ul>
		</article>
	</section>
	<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
	<script src="js/jonmircha.js"></script>
</body>
</html>