doctype html
html( lang="#{lang}" )
	head
		//-Meta Tags
		meta( name="viewport", content="width=device-width, initial-scale=1" )
		meta( charset="utf-8" )
		meta( http-equiv="X-UA-Compatible", content="IE=edge,chrome=1" )
		title= title
		meta( name="description" content="#{description}" )
		link( rel="shortcut icon", type="image/x-icon", href="img/favicon.ico" )
		link( rel="shortcut icon", type="image/png", href="img/favicon.png" )
		link( rel="apple-touch-icon", href="img/apple-touch-icon.png" )
		//-Meta Links
		link( rel="author", type="text/plain" href="humans.txt" )
		link( rel="sitemap", type="application/xml" title="Sitemap" href="sitemap.xml" )
		link( rel="stylesheet", href="http://fonts.googleapis.com/css?family=Raleway:800,400" )
		link( rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.5.0/css/font-awesome.min.css" )
		link( rel="stylesheet", href="css/responsimple.min.css" )
		link( rel="stylesheet", href="css/style.css" )
		link( rel="stylesheet", href="css/print.css", media="print" )
	body
		block content
		script( src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.min.js", defer )
		script( src="js/jonmircha.js", defer )