<!DOCTYPE html>
<html lang="es">
<head>
	<meta charset="UTF-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" />
	<title>Vlog de MirCha</title>
	<meta name="description" content="Bienvenid@s al Vlog de MirCha. Aquí encontrarás videos de diferentes temáticas: charlas, eventos, talleres, conferencias, entrevistas, cursos, etc." />
	<!-- Facebook Tags -->
	<meta property="fb:page_id" content="100000269464371" />
	<meta property="og:title" content="Vlog de MirCha" />
	<meta property="og:type" content="website" />
	<meta property="og:url" content="http://jonmircha.com/" />
	<meta property="og:image" content="http://jonmircha.com/img/jonmircha-bn.png" />
	<meta property="og:site_name" content="http://jonmircha.com/" />
	<meta property="og:description" content="Bienvenid@s al Vlog de MirCha. Aquí encontrarás videos de diferentes temáticas: charlas, eventos, talleres, conferencias, entrevistas, cursos, etc." />
	<meta property="fb:admins" content="100000269464371" />
	<!-- Twitter Cards -->
	<meta name="twitter:card" content="summary_large_image" />
	<meta name="twitter:site" content="@jonmircha" />
	<meta name="twitter:creator" content="@jonmircha" />
	<meta name="twitter:title" content="Vlog de MirCha" />
	<meta name="twitter:description" content="Bienvenid@s al Vlog de MirCha. Aquí encontrarás videos de diferentes temáticas: charlas, eventos, talleres, conferencias, entrevistas, cursos, etc." />
	<meta name="twitter:image:src" content="http://jonmircha.com/img/jonmircha-bn.png" />
	<!-- Metatags -->
	<link rel="shortcut icon" type="image/x-icon" href="img/favicon.ico" />
	<link rel="shortcut icon" type="image/png" href="img/favicon.png" />
	<link rel="apple-touch-icon" href="img/apple-touch-icon.png" />
	<link rel="author" type="text/plain" href="humans.txt" />
	<link rel="sitemap" type="application/xml" title="Sitemap" href="sitemap.xml" />
	<link rel="stylesheet" href="css/jonmircha.css" media="screen" />
	<link rel="stylesheet" href="css/print.css" media="print" />
</head>
<body>
	<section class="section  vlog">
		<h1 class="vlog__title">Vlog de MirCha</h1>
		<ul  class="vlog__menu">
			<li><a id="btn-home" href="/"><i class="fa fa-home"></i></a></li>
			<li><a id="btn-vlogs" href="#">Vlogs</a></li>
			<li><a id="btn-lectures" href="#">Charlas - Lectures</a></li>
			<li><a id="btn-workshops" href="#">Talleres - Workshops</a></li>
			<li><a id="btn-interviews" href="#">Entrevistas - Interviews</a></li>
			<li><a id="btn-bextlan" href="#">Bextlan</a></li>
		</ul>
	</section>
	<section class="section">
		<ul class="vlog__sections">
			<li id="vlogs">
				<h4 class="vlog__titles">Vlogs</h4>
				<ol class="vlog__episodes">
					<li>
						<a href="https://www.youtube.com/watch?v=bHDpj3kcDw4&list=PLvq-jIkSeTUaourms9u_1KfoMtCWuLgvv" target="blank">
							<i class="fa  fa-youtube-play"></i>
							018. Crear o Morir
							<small>
								(
								<i class="fa  fa-calendar-o"></i>
								<time datetime="2015-07-21">21-Jul-15</time>
								)
							</small>
						</a>
					</li>
					<li>
						<a href="https://www.youtube.com/watch?v=F9k8IVSPMEM&list=PLvq-jIkSeTUaourms9u_1KfoMtCWuLgvv" target="blank">
							<i class="fa  fa-youtube-play"></i>
							017. jonmircha.com
							<small>
								(
								<i class="fa  fa-calendar-o"></i>
								<time datetime="2015-03-20">20-Mar-15</time>
								)
							</small>
						</a>
					</li>
					<li>
						<a href="https://www.youtube.com/watch?v=xuHPZHKjm0c&list=PLvq-jIkSeTUaourms9u_1KfoMtCWuLgvv" target="blank">
							<i class="fa  fa-youtube-play"></i>
							016. Cursos Bextlan 2015
							<small>
								(
								<i class="fa  fa-calendar-o"></i>
								<time datetime="2014-11-28">28-Nov-14</time>
								)
							</small>
						</a>
					</li>
					<li>
						<a href="https://www.youtube.com/watch?v=Qa5UsJGnKKI&list=PLvq-jIkSeTUaourms9u_1KfoMtCWuLgvv" target="blank">
							<i class="fa  fa-youtube-play"></i>
							015. Maratón CDMX 2014
							<small>
								(
								<i class="fa  fa-calendar-o"></i>
								<time datetime="2014-09-01">01-Sep-14</time>
								)
							</small>
						</a>
					</li>
					<li>
						<a href="https://www.youtube.com/watch?v=lglK7DclpZw&list=PLvq-jIkSeTUaourms9u_1KfoMtCWuLgvv" target="blank">
							<i class="fa  fa-youtube-play"></i>
							014. Ready Player One
							<small>
								(
								<i class="fa  fa-calendar-o"></i>
								<time datetime="2014-07-28">28-Jul-14</time>
								)
							</small>
						</a>
					</li>
					<li>
						<a href="https://www.youtube.com/watch?v=XMxgyWCOofI&list=PLvq-jIkSeTUaourms9u_1KfoMtCWuLgvv" target="blank">
							<i class="fa  fa-youtube-play"></i>
							013. Mi 1<sup>er</sup> UltraMaratón
							<small>
								(
								<i class="fa  fa-calendar-o"></i>
								<time datetime="2014-04-08">08-Abr-14</time>
								)
							</small>
						</a>
					</li>
					<li>
						<a href="https://www.youtube.com/watch?v=0LPSdNhuWaE&list=PLvq-jIkSeTUaourms9u_1KfoMtCWuLgvv" target="blank">
							<i class="fa  fa-youtube-play"></i>
							012. Efectos Visuales / Recuperación
							<small>
								(
								<i class="fa  fa-calendar-o"></i>
								<time datetime="2014-03-10">10-Mar-14</time>
								)
							</small>
						</a>
					</li>
					<li>
						<a href="https://www.youtube.com/watch?v=UtaSb4Niris&list=PLvq-jIkSeTUaourms9u_1KfoMtCWuLgvv" target="blank">
							<i class="fa  fa-youtube-play"></i>
							011. Float VS Display / Descanso
							<small>
								(
								<i class="fa  fa-calendar-o"></i>
								<time datetime="2014-02-24">24-Feb-14</time>
								)
							</small>
						</a>
					</li>
					<li>
						<a href="https://www.youtube.com/watch?v=y21wFOMs970&list=PLvq-jIkSeTUaourms9u_1KfoMtCWuLgvv" target="blank">
							<i class="fa  fa-youtube-play"></i>
							010. Hostings / Ropa Correr
							<small>
								(
								<i class="fa  fa-calendar-o"></i>
								<time datetime="2014-02-11">11-Feb-14</time>
								)
							</small>
						</a>
					</li>
					<li>
						<a href="https://www.youtube.com/watch?v=f-YpdIJ8aTQ&list=PLvq-jIkSeTUaourms9u_1KfoMtCWuLgvv" target="blank">
							<i class="fa  fa-youtube-play"></i>
							009 .Frameworks / Tips Maratón
							<small>
								(
								<i class="fa  fa-calendar-o"></i>
								<time datetime="2014-01-27">27-Ene-14</time>
								)
							</small>
						</a>
					</li>
					<li>
						<a href="https://www.youtube.com/watch?v=_FrQa03WcIY&list=PLvq-jIkSeTUaourms9u_1KfoMtCWuLgvv" target="blank">
							<i class="fa  fa-youtube-play"></i>
							008. Normalize / Calentamiento
							<small>
								(
								<i class="fa  fa-calendar-o"></i>
								<time datetime="2014-01-20">20-Ene-14</time>
								)
							</small>
						</a>
					</li>
					<li>
						<a href="https://www.youtube.com/watch?v=FeQw7_pg7q8&list=PLvq-jIkSeTUaourms9u_1KfoMtCWuLgvv" target="blank">
							<i class="fa  fa-youtube-play"></i>
							007. CMS's / Tips Correr
							<small>
								(
								<i class="fa  fa-calendar-o"></i>
								<time datetime="2014-01-13">13-Ene-14</time>
								)
							</small>
						</a>
					</li>
					<li>
						<a href="https://www.youtube.com/watch?v=H-ZZ6fsH-Jg&list=PLvq-jIkSeTUaourms9u_1KfoMtCWuLgvv" target="blank">
							<i class="fa  fa-youtube-play"></i>
							006. Reyes Magos 2014
							<small>
								(
								<i class="fa  fa-calendar-o"></i>
								<time datetime="2014-01-06">06-Ene-14</time>
								)
							</small>
						</a>
					</li>
					<li>
						<a href="https://www.youtube.com/watch?v=gTTUgBtE7iU&list=PLvq-jIkSeTUaourms9u_1KfoMtCWuLgvv" target="blank">
							<i class="fa  fa-youtube-play"></i>
							005. Sitios y Blogs
							<small>
								(
								<i class="fa  fa-calendar-o"></i>
								<time datetime="2013-12-23">23-Dic-13</time>
								)
							</small>
						</a>
					</li>
					<li>
						<a href="https://www.youtube.com/watch?v=wnnOkiJ_wLo&list=PLvq-jIkSeTUaourms9u_1KfoMtCWuLgvv" target="blank">
							<i class="fa  fa-youtube-play"></i>
							004. Imágenes / Tipo Pisada
							<small>
								(
								<i class="fa  fa-calendar-o"></i>
								<time datetime="2013-12-16">16-Dic-13</time>
								)
							</small>
						</a>
					</li>
					<li>
						<a href="https://www.youtube.com/watch?v=dk4tgrygC8M&list=PLvq-jIkSeTUaourms9u_1KfoMtCWuLgvv" target="blank">
							<i class="fa  fa-youtube-play"></i>
							003. Sublime VS Dreamweaver
							<small>
								(
								<i class="fa  fa-calendar-o"></i>
								<time datetime="2013-12-09">09-Dic-13</time>
								)
							</small>
						</a>
					</li>
					<li>
						<a href="https://www.youtube.com/watch?v=xlZFD8v9ro4&list=PLvq-jIkSeTUaourms9u_1KfoMtCWuLgvv" target="blank">
							<i class="fa  fa-youtube-play"></i>
							002. Semántica HTML5
							<small>
								(
								<i class="fa  fa-calendar-o"></i>
								<time datetime="2013-12-02">02-Dic-13</time>
								)
							</small>
						</a>
					</li>
					<li>
						<a href="https://www.youtube.com/watch?v=miGVaUv0A9w&list=PLvq-jIkSeTUaourms9u_1KfoMtCWuLgvv" target="blank">
							<i class="fa  fa-youtube-play"></i>
							001. jQuery / We Run MX
							<small>
								(
								<i class="fa  fa-calendar-o"></i>
								<time datetime="2013-11-26">26-Nov-13</time>
								)
							</small>
						</a>
					</li>
					<li>
						<a href="https://www.youtube.com/watch?v=pXfb-sWKKMg&list=PLvq-jIkSeTUaourms9u_1KfoMtCWuLgvv" target="blank">
							<i class="fa  fa-youtube-play"></i>
							000. Bienvenida
							<small>
								(
								<i class="fa  fa-calendar-o"></i>
								<time datetime="2013-11-18">18-Nov-13</time>
								)
							</small>
						</a>
					</li>
				</ol>
			</li>
			<li id="lectures">
				<h4 class="vlog__titles">Charlas</h4>
				<ol class="vlog__episodes">
					<li>
						<a href="https://www.youtube.com/watch?v=G9Va3Jv7kVM&list=PLvq-jIkSeTUaourms9u_1KfoMtCWuLgvv" target="blank">
							<i class="fa  fa-youtube-play"></i>
							Novedades de HTML5 y CSS3 2015
							<small>
								(
								<i class="fa  fa-calendar-o"></i>
								<time datetime="2015-05-27">27-May-15</time>
								)
							</small>
						</a>
					</li>	
					<li>
						<a href="https://www.youtube.com/watch?v=2RlT9pjmbPQ&list=PLvq-jIkSeTUaourms9u_1KfoMtCWuLgvv" target="blank">
							<i class="fa  fa-youtube-play"></i>
							Bases de Datos NO Relacionales
							<small>
								(
								<i class="fa  fa-calendar-o"></i>
								<time datetime="2015-05-19">19-May-15</time>
								)
							</small>
						</a>
					</li>
					<li>
						<a href="https://www.youtube.com/watch?v=9kk1A5_IaQ0&list=PLvq-jIkSeTUaourms9u_1KfoMtCWuLgvv" target="blank">
							<i class="fa  fa-youtube-play"></i>
							Node.JS es más que JS en el servidor
							<small>
								(
								<i class="fa  fa-calendar-o"></i>
								<time datetime="2015-04-14">14-Abr-15</time>
								)
							</small>
						</a>
					</li>
					<li>
						<a href="https://www.youtube.com/watch?v=M78gCRhqeUA&list=PLvq-jIkSeTUaourms9u_1KfoMtCWuLgvv" target="blank">
							<i class="fa  fa-youtube-play"></i>
							Arquitectura Web Node.JS
							<small>
								(
								<i class="fa  fa-calendar-o"></i>
								<time datetime="2015-03-03">03-Mar-15</time>
								)
							</small>
						</a>
					</li>
					<li>
						<a href="https://www.youtube.com/watch?v=sdVh7nkUUG0&list=PLvq-jIkSeTUaourms9u_1KfoMtCWuLgvv" target="blank">
							<i class="fa  fa-youtube-play"></i>
							Editores Código e IDE's
							<small>
								(
								<i class="fa  fa-calendar-o"></i>
								<time datetime="2015-02-17">17-Feb-15</time>
								)
							</small>
						</a>
					</li>
					<li>
						<a href="https://www.youtube.com/watch?v=l098vHvkHxA&list=PLvq-jIkSeTUaourms9u_1KfoMtCWuLgvv" target="blank">
							<i class="fa  fa-youtube-play"></i>
							HTML5
							<small>
								(
								<i class="fa  fa-calendar-o"></i>
								<time datetime="2014-04-22">22-Abr-14</time>
								)
							</small>
						</a>
					</li>
					<li>
						<a href="https://www.youtube.com/watch?v=xxbTK588iS0&list=PLvq-jIkSeTUaourms9u_1KfoMtCWuLgvv" target="blank">
							<i class="fa  fa-youtube-play"></i>
							HTML y CSS
							<small>
								(
								<i class="fa  fa-calendar-o"></i>
								<time datetime="2013-05-09">09-May-13</time>
								)
							</small>
						</a>
					</li>
					<li>
						<a href="https://www.youtube.com/watch?v=ayy4yXnSyH8&list=PLvq-jIkSeTUaourms9u_1KfoMtCWuLgvv" target="blank">
							<i class="fa  fa-youtube-play"></i>
							Buenas Prácticas
							<small>
								(
								<i class="fa  fa-calendar-o"></i>
								<time datetime="2013-02-21">21-Feb-13</time>
								)
							</small>
						</a>
					</li>
				</ol>
			</li>
			<li id="workshops">
				<h4 class="vlog__titles">Talleres</h4>
				<ol class="vlog__episodes">
					<li>
						<a href="https://www.youtube.com/watch?v=QIyR61sl2Qk&list=PLvq-jIkSeTUaourms9u_1KfoMtCWuLgvv" target="blank">
							<i class="fa  fa-youtube-play"></i>
							Taller Responsive - Autodidactas
							<small>
								(
								<i class="fa  fa-calendar-o"></i>
								<time datetime="2012-10-14">14-Oct-12</time>
								)
							</small>
						</a>
					</li>
					<li>
						<a href="https://www.youtube.com/watch?v=7tlzzFSEJ4M&list=PLvq-jIkSeTUaourms9u_1KfoMtCWuLgvv" target="blank">
							<i class="fa  fa-youtube-play"></i>
							Taller Responsive - Codejobs
							<small>
								(
								<i class="fa  fa-calendar-o"></i>
								<time datetime="2012-10-08">08-Oct-12</time>
								)
							</small>
						</a>
					</li>
					<li>
						<a href="https://www.youtube.com/watch?v=uOToJW4x2GE&list=PLvq-jIkSeTUaourms9u_1KfoMtCWuLgvv" target="blank">
							<i class="fa  fa-youtube-play"></i>
							Taller HTML5 - Codejobs
							<small>
								(
								<i class="fa  fa-calendar-o"></i>
								<time datetime="2012-09-22">22-Sep-12</time>
								)
							</small>
						</a>
					</li>
					<li>
						<a href="https://www.youtube.com/watch?v=riXMb-A4niw&list=PLvq-jIkSeTUaourms9u_1KfoMtCWuLgvv" target="blank">
							<i class="fa  fa-youtube-play"></i>
							La Web... Pasado, Presente y Futuro
							<small>
								(
								<i class="fa  fa-calendar-o"></i>
								<time datetime="2012-07-20">20-Jul-12</time>
								)
							</small>
						</a>
					</li>
				</ol>
			</li>
			<li id="interviews">
				<h4 class="vlog__titles">Entrevistas</h4>
				<ol class="vlog__episodes">
					<li>
						<a href="https://www.youtube.com/watch?v=aEn-BnncO2A&list=PLvq-jIkSeTUaourms9u_1KfoMtCWuLgvv" target="blank">
							<i class="fa  fa-youtube-play"></i>
							FES Acatlán
							<small>
								(
								<i class="fa  fa-calendar-o"></i>
								<time datetime="2013-09-16">16-Sep-13</time>
								)
							</small>
						</a>
					</li>
					<li>
						<a href="https://www.youtube.com/watch?v=EuOeiaB2Ous&list=PLvq-jIkSeTUaourms9u_1KfoMtCWuLgvv" target="blank">
							<i class="fa  fa-youtube-play"></i>
							Antonio Salgado
							<small>
								(
								<i class="fa  fa-calendar-o"></i>
								<time datetime="2012-12-27">27-Dic-12</time>
								)
							</small>
						</a>
					</li>
					<li>
						<a href="https://www.youtube.com/watch?v=2xmZctjmBSM&list=PLvq-jIkSeTUaourms9u_1KfoMtCWuLgvv" target="blank">
							<i class="fa  fa-youtube-play"></i>
							ICONOS
							<small>
								(
								<i class="fa  fa-calendar-o"></i>
								<time datetime="2012-06-12">12-Jun-12</time>
								)
							</small>
						</a>
					</li>
				</ol>
			</li>
			<li id="bextlan">
				<h4 class="vlog__titles">Bextlan</h4>
				<ol class="vlog__episodes">
					<li>
						<a href="https://www.youtube.com/watch?v=IJGn8zGn0Ow&list=PLvq-jIkSeTUaourms9u_1KfoMtCWuLgvv" target="blank">
							<i class="fa  fa-youtube-play"></i>
							Versión 4
							<small>
								(
								<i class="fa  fa-calendar-o"></i>
								<time datetime="2015-06-30">30-Jun-15</time>
								)
							</small>
						</a>
					</li>
					<li>
						<a href="https://www.youtube.com/watch?v=WgCkVzQbLO8&list=PLvq-jIkSeTUaourms9u_1KfoMtCWuLgvv" target="blank">
							<i class="fa  fa-youtube-play"></i>
							Links Recursos Tutoriales
							<small>
								(
								<i class="fa  fa-calendar-o"></i>
								<time datetime="2014-08-11">11-Ago-14</time>
								)
							</small>
						</a>
					</li>
					<li>
						<a href="https://www.youtube.com/watch?v=YcvScOhK6dU&list=PLvq-jIkSeTUaourms9u_1KfoMtCWuLgvv" target="blank">
							<i class="fa  fa-youtube-play"></i>
							Bienvenid@s a Bextlan.com
							<small>
								(
								<i class="fa  fa-calendar-o"></i>
								<time datetime="2014-06-27">27-Jun-14</time>
								)
							</small>
						</a>
					</li>
					<li>
						<a href="https://www.youtube.com/watch?v=NB0BHOWU3gk&list=PLvq-jIkSeTUaourms9u_1KfoMtCWuLgvv" target="blank">
							<i class="fa  fa-youtube-play"></i>
							Versión 3.1
							<small>
								(
								<i class="fa  fa-calendar-o"></i>
								<time datetime="2014-06-24">24-Jun-14</time>
								)
							</small>
						</a>
					</li>
					<li>
						<a href="https://www.youtube.com/watch?v=FZG6qdRbRmg&list=PLvq-jIkSeTUaourms9u_1KfoMtCWuLgvv" target="blank">
							<i class="fa  fa-youtube-play"></i>
							Segundo Aniversario
							<small>
								(
								<i class="fa  fa-calendar-o"></i>
								<time datetime="2014-01-17">17-Ene-14</time>
								)
							</small>
						</a>
					</li>
					<li>
						<a href="https://www.youtube.com/watch?v=mDnXcpDePFI&list=PLvq-jIkSeTUaourms9u_1KfoMtCWuLgvv" target="blank">
							<i class="fa  fa-youtube-play"></i>
							Primer Aniversario
							<small>
								(
								<i class="fa  fa-calendar-o"></i>
								<time datetime="2013-01-16">16-Ene-13</time>
								)
							</small>
						</a>
					</li>
					<li>
						<a href="https://www.youtube.com/watch?v=5N5rHmfqWww&list=PLvq-jIkSeTUaourms9u_1KfoMtCWuLgvv" target="blank">
							<i class="fa  fa-youtube-play"></i>
							Lanzamiento
							<small>
								(
								<i class="fa  fa-calendar-o"></i>
								<time datetime="2012-01-14">14-Ene-12</time>
								)
							</small>
						</a>
					</li>
				</ol>
			</li>
		</ul>
	</section>
	<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
	<script src="js/jonmircha.js"></script>
</body>
</html>