/* CSS GENERAL */
@import url(http://fonts.googleapis.com/css?family=Raleway:800,400);
@import url("font-awesome.min.css");

html
{
	background-color: rgba(0,0,0,.75);
	background-image: url("../img/fondo.png");
	background-repeat: repeat;
	box-sizing: border-box;
	color: #FFF;
	font-size: 16px;
	font-family: "Raleway", sans-serif;
	font-weight: 400;
	text-align: center;
	overflow-x: hidden; 
}

*, *:before, *:after
{
	box-sizing: inherit;
	margin: 0;
	padding: 0;
	transition: all .5s ease-out;
}

a, .fa { color: rgba(236,103,58,1); text-decoration: none; }

a:hover, .arrow-down:hover { color: rgba(255,255,255,.5); }

li { list-style-type: none; }

::selection { background: rgba(236,103,58,1); color: #FFF; }

::-moz-selection { background: rgba(236,103,58,1); color: #FFF; }

/* SECCIÓN JONMIRCHA */
.section:first-child { height: 100vh; }

.title--main
{
	/* background-color: yellow; */ 
	font-size: 10vw;
	margin: 30vh auto 0;
}

.title--main:before, .title--main:after, .vlog__title:before, .vlog__title:after, .error__title:before, .error__title:after, .Bryan__title:before, .Bryan__title:after  
{
	color: rgba(236,103,58,1);
	content: ">";
}

.title--main:before, .vlog__title:before, .error__title:before, .Bryan__title:before { content: "<"; }

.title--slogan, .error__slogan, .Bryan__slogan { font-size: 2.07vw; margin-left: 2.8vw; }

.title--lang, .title--print
{
	font-size: 1rem;
	font-weight: bold;
	margin-top: .5rem;
}

.title--down { margin-top: 1rem; font-size: 1.5rem; }

.title--sub, .title--info, .title--time, .title--projects, .vlog__titles
{
	color: rgba(255,255,255,1);
	font-size: 2rem;
	padding: .5rem;
}

.title--sub { background-color: rgba(236,103,58,1); text-align: left; }
	
.title--info, .title--projects, .vlog__titles { background-color: rgba(236,103,58,.75); }

.title--info { font-size: 1.5rem; margin: 4rem auto 2rem; }

.title--time, .title--projects { font-size: 1.25rem; }

.title--time { color: rgba(255,255,255,.5); text-align: left; }

/* SECCIÓN HOLA MUNDO */
.section__figure
{
	background: url("../img/jonmircha-paris.jpg") no-repeat center;
	background-size: cover;
	text-align: right;
	/* margin-top: 2rem; */
}

.jon__about, .jon__cv__content ul { padding: .5rem; }

.jon__about
{
	background-color: rgba(0,0,0,.25);
	height: inherit;
	padding-top: 5rem;
}

.jon__cv { margin-top: -4rem; }

.jon__about span, .jon__cv--info i, .jon__cv--info span
{
	display: block;
}

.jon__cv--info>li { margin: 0 auto 1rem; }

.jon__cv--jobs:last-child { margin-bottom: 4rem; }

.jon__cv--jobs li
{
	margin-bottom: .5rem;
	margin-left: .5rem;
	text-align: left;
}

/* SECCIÓN PROYECTOS */

.projects__description { margin: 2rem auto 4rem; }

.projects__description { padding: .5rem; text-align: left; }

.jon__projects ul, .jon__contact { display: flex; flex-flow: row wrap; }

.jon__projects span, .vlog__episodes small, .vlog__episodes .fa { display: none; }

.jon__projects--courses li, .jon__projects--webs li, .jon__projects--flash li, .vlog__episodes li
{
	flex: 1 1 50%;
	height: 5rem;
	line-height: 5rem;
}

.jon__projects a, .jon__contact a, .vlog__episodes a
{
	background-color: rgba(0,0,0,.25);
	display: block;
	font-size: 1rem;
	height: inherit;
}

.jon__projects a:hover, .jon__contact a:hover, .vlog__episodes a:hover
{
	background-color: rgba(236,103,58,.5);
	color: rgba(255,255,255,1);
}

/* SECCIÓN PLATIQUEMOS */
.jon__contact li
{
	flex: 1 1 50%;
	height: 5rem;
	line-height: 5rem;
}

.jon__contact a { font-size: 2.5rem; }

.jon__contact .fa { color: inherit; }

/* SECCIÓN MENS === CORPORE */
.mens-corpore
{
	background: url("../img/jonmircha-love.jpg") no-repeat 75%;
	background-size: cover;
	text-align: center;
}

.mens-corpore__description cite { display: block; margin: 1rem 0; }


.mens-corpore__description, .mens-corpore__list
{
	background-color: rgba(0,0,0,.5);
	height: inherit;
	padding: 2rem .5rem;
}

.mens-corpore__list { padding-bottom: 4rem; }

.mens-corpore__list li { padding-bottom: 1rem; }

.mens-corpore__list span { display: block; }

/* SECCIÓN VLOG */
.vlog
{
	background: url("../img/vlog-mircha.jpg") no-repeat 75%;
	background-size: cover;
	text-align: center;
}

.vlog__title, .error__title, .Bryan__title
{
	font-size: 7.5vw;
	margin-top: 0;
	padding-top: 2.5vh;
}

.vlog__menu
{
	bottom: 0;
	left: 10vw;
	position: absolute;
}

.vlog__menu li { margin: 1.5rem auto; }

.vlog__menu a, .error404 a
{	
	background-color: rgba(0,0,0,.75);
	padding: .5rem;
}

/* ERROR 404 */
.error404
{
	background: url("../img/jonmircha-404.jpg") no-repeat center;
	background-size: cover;
	text-align: center;
}

.error__slogan, .Bryan__slogan { margin-left: 0; }

.error404 h3 {	margin-top: 1rem; }

/* Bryan */
.Bryan img { max-width: 100%; }

/* MediaQueries Mobile First */

@media screen and (min-width: 321px){
	.title--main { /* background-color: magenta; */ }
}

@media screen and (min-width: 481px){
	.title--main { /* background-color: cyan; */ }

	.skills { display: flex; flex-flow: row wrap; }

	.skills li { flex: 1 1 33%; }

	.jon__cv--jobs li, .title--time { text-align: center; }

	.jon__projects span { display: inline; }

	.jon__contact li
	{
		flex: 1 1 30%;
		font-size: 2.5rem;
		height: 5rem;
		line-height: 5rem;
	}

	.mens-corpore
	{
		background: url("../img/jonmircha-love.jpg") no-repeat center;
		background-size: cover;
	}

	.mens-corpore__list { display: flex; flex-flow: row wrap; }

	.mens-corpore__list li { flex: 1 1 50%; }

	.vlog__episodes small, .vlog__episodes .fa { display: inline; }

	.error404 h3 {	font-size: 2rem; }
}

@media screen and (min-width: 601px){
	.title--main { /* background-color: blue; */ }

	.mens-corpore__list li { flex: 1 1 33%; }

	.vlog__episodes { display: flex; flex-flow: row wrap; }

	.vlog__episodes li { line-height: inherit; }

	.vlog__episodes a { padding-top: 1.5rem; }

	.vlog__episodes small { display: block; }
}

@media screen and (min-width: 769px){
	.title--main { /* background-color: green; */ }

	.jon__about { font-size: 1.25rem; }

	.jon__cv, .mens-corpore__list { display: flex; flex-flow: row wrap; }

	.jon__cv__content, .skills li { flex: 1 1 50%; }

	.jon__cv--info i, .jon__cv--info span 
	{
		display: inline;
		margin-right: .5rem;
	}

	.jon__cv--jobs li, .title--time { text-align: center; }

	.jon__projects--courses li, .jon__projects--webs li, .jon__projects--flash li { flex: 1 1 33%; }
}

@media screen and (min-width: 1025px){
	.title--main { /* background-color: red; */ }

	.vlog__episodes li { flex: 1 1 33%; }
}

@media screen and (min-width: 1201px){
	.title--main { /* background-color: transparent; */ }
	
	html { font-size: 24px; }
}