@page { size: A4; }

<<<<<<< HEAD
body, .container {
	position: static !important;
	float: none !important;
	width: auto !important;
	margin:  0 !important;
	padding: 0 !important;
	font: 16pt Helvetica, sans-serif, "Times New Roman";
	color: #000;
}

.language, .print-cv, .arrow-down, .menu, .customers, .marathons { display: none !important; }
a { 
	color: #FF5700;
	font-weight: bold;
	text-decoration: none;
}

/* a:after { content: " (" attr(href) ") "; } */

h1 { font-size: 36pt !important; }

h2 { 
	font-size: 24pt !important;
	color: #000 !important;
}

h3 { font-size: 20pt !important; }

h4 { font-size: 18pt !important; }

.slogan { margin: 24pt auto !important; }

.social-media .fa { font-size: 24pt; }

.social-media a {
	content: attr(href);
	font-size: 16pt;
}

a[title="WhatsApp"]:after { content: ' 5215518388261'; }
=======
html 
{
    background-color: #ffffff;
	color: #000;
	font: 12pt Helvetica, sans-serif;
}

a { color: #444; font-weight: bold; text-decoration:  }

i, #jonmircha, #mens-corpore, #hello-world>.title--sub { display: none; }

.jon__about { font-size: 16pt; }

.jon__about b { color: #F60; display: block; font-size: 20pt; }

.title--info, .title--sub
{
	color: #F60;
	font-size: 16pt;
	margin-bottom: -8pt;
}

#i-am li, #skills li { display: inline; margin: 1cm auto }

#i-am li:not(:last-child):after
{
	color: #F60;
	content: " | ";
	margin: auto .25cm;
}

#skills li:not(:last-child):after { content: ", "; }

#experience h4, #experience ul
{
	display: inline-block;
	vertical-align: top;
	width: 75%;
}

#experience h4 { width: 15%; }

.jon__projects ul>li, .jon__contact li
{
	display: inline-block;
	vertical-align: top;
	width: 45%;
}

.jon__contact li { width: 30%; }

.jon__contact a:after { content:attr(title); }

a[title="email"]:after { content: "j@bextlan.com"; }

a[title="whats app"]:after { content: "5215518388261"; }
>>>>>>> 9d202d7b472544d347cb55da7ae14a3f2500e2c0
