@page { size: A4; }

body, .container {
	position: static !important;
	float: none !important;
	width: auto !important;
	margin:  0 !important;
	padding: 0 !important;
	font: 16pt Helvetica, sans-serif, "Times New Roman";
	color: #000;
}

.language, .print-cv, .arrow-down, .menu, .customers, .marathons { display: none !important; }
a { 
	color: #FF5700;
	font-weight: bold;
	text-decoration: none;
}

/* a:after { content: " (" attr(href) ") "; } */

h1 { font-size: 36pt !important; }

h2 { 
	font-size: 24pt !important;
	color: #000 !important;
}

h3 { font-size: 20pt !important; }

h4 { font-size: 18pt !important; }

.slogan { margin: 24pt auto !important; }

.social-media .fa { font-size: 24pt; }

.social-media a {
	content: attr(href);
	font-size: 16pt;
}

a[title="WhatsApp"]:after { content: ' 5215518388261'; }