<!DOCTYPE html>
<html lang="es">

<head>
  <sergey-import src="components/metatags">
    <sergey-template name="title"></sergey-template>
    <sergey-template name="metatitle"></sergey-template>
    <sergey-template name="description"></sergey-template>
    <sergey-template name="url"></sergey-template>
    <sergey-template name="image"></sergey-template>
  </sergey-import>
  <link rel="stylesheet" href="assets/style.css">
</head>

<body>
  <sergey-import src="components/header" />
  <script src="assets/index.js"></script>
</body>

</html>