<!DOCTYPE html>
<html lang="es">

<head>
  <sergey-import src="components/metatags">
    <sergey-template name="title"></sergey-template>
    <sergey-template name="metatitle"></sergey-template>
    <sergey-template name="description"></sergey-template>
    <sergey-template name="url"></sergey-template>
    <sergey-template name="image"></sergey-template>
  </sergey-import>
  <link rel="stylesheet" href="assets/prism.css">
  <link rel="stylesheet" href="assets/slides.css">
</head>

<body>
  <main class="slides">
    <section class="slide">
      <article class="slide-container">
        <h1><i>Slides</i></h1>
        <img src="img/kEnAi.svg" alt="kEnAi">
      </article>
    </section>
    <section class="slide">
      <article class="slide-container">
      </article>
    </section>
  </main>
  <script src="assets/prism.js"></script>
</body>

</html>