<aside class="section-bottom">
  <small class="garden  no-print">🌱 estás en mi jardín digital 🌱</small>
</aside>
<footer class="footer">
  <div class="footer-container">
    <nav class="footer-menu">
      <a href="./cursos">Cursos</a>
      <a href="./blog">Blog</a>
      <a href="./" title="inicio">
        <img src="img/kEnAi.svg" alt="kEnAi">
      </a>
      <a href="./mentoria">Mentoría</a>
      <a href="./hola">Hola</a>
    </nav>
  </div>
</footer>
<sergey-import src="components/support" />