<!-- Global Metadata -->
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0, viewport-fit=cover">
<link rel="icon" type="image/png" href="img/favicon.png">
<meta name="theme-color" content="#e7562e">
<link rel="author" type="text/plain" href="humans.txt">
<link rel="manifest" href="manifest.json">
<link rel="canonical" href=<sergey-slot name="url">"https://jonmircha.com/"</sergey-slot>>
<!-- Primary Meta Tags -->
<title>
  <sergey-slot name="title">jonmircha 🦊</sergey-slot>
</title>
<meta name="title" content=<sergey-slot name="metatitle">"jonmircha 🦊"</sergey-slot>>
<meta name="description" content=<sergey-slot name="description">"Hola soy tu amigo y docente digital... Jonathan
MirCha"</sergey-slot>>
<!-- Open Graph / Facebook -->
<meta property="og:type" content="website">
<meta property="og:url" content=<sergey-slot name="url">"https://jonmircha.com/"</sergey-slot>>
<meta property="og:title" content=<sergey-slot name="metatitle">"jonmircha 🦊"</sergey-slot>>
<meta property="og:description" content=<sergey-slot name="description">"Hola soy tu amigo y docente digital... Jonathan
MirCha"</sergey-slot>>
<meta property="og:image" content=<sergey-slot name="image">"https://jonmircha.com/img/og.png"</sergey-slot>>
<!-- Twitter -->
<meta property="twitter:card" content="summary_large_image">
<meta property="twitter:url" content=<sergey-slot name="url">"https://jonmircha.com/"</sergey-slot>>
<meta property="twitter:title" content=<sergey-slot name="metatitle">"jonmircha 🦊"</sergey-slot>>
<meta property="twitter:description" content=<sergey-slot name="description">"Hola soy tu amigo y docente digital...
Jonathan MirCha"</sergey-slot>>
<meta property="twitter:image" content=<sergey-slot name="image">"https://jonmircha.com/img/og.png"</sergey-slot>>