<article id="donaciones" class="modal">
  <div class="modal-content container-sm">
    <a href="#close" class="modal-close box-shadow-none">
      <?xml version="1.0" encoding="iso-8859-1"?>
      <svg class="icon-x2" version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg"
        xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 512 512"
        style="enable-background:new 0 0 512 512;" xml:space="preserve">
        <g>
          <g>
            <path fill="#fb6d43" d="M256,0C114.615,0,0,114.615,0,256s114.615,256,256,256s256-114.615,256-256S397.385,0,256,0z M327.115,365.904
      			L256,294.789l-71.115,71.115l-38.789-38.789L217.211,256l-71.115-71.115l38.789-38.789L256,217.211l71.115-71.115l38.789,38.789
      			L294.789,256l71.115,71.115L327.115,365.904z" />
          </g>
        </g>
        <g>
        </g>
        <g>
        </g>
        <g>
        </g>
        <g>
        </g>
        <g>
        </g>
        <g>
        </g>
        <g>
        </g>
        <g>
        </g>
        <g>
        </g>
        <g>
        </g>
        <g>
        </g>
        <g>
        </g>
        <g>
        </g>
        <g>
        </g>
        <g>
        </g>
      </svg>
    </a>
    <h3 class="text-center">Donaciones</h3>
    <p>
      Si deseas apoyar mi proyecto puedes hacer donaciones a la cuenta de banco:
    </p>
    <ul>
      <li>Banco: <b>Citibanamex</b></li>
      <li>Titular: <b>Jonathan Ulises Miranda Charles</b></li>
      <li>Cuenta: <b>9007 0358866</b></li>
      <li>Clabe: <b>002180900703588669</b></li>
      <li>Código <i>SWIFT</i>: <b>BNMXMXMM</b> <small>(depósitos fuera de México)</small></li>
    </ul>
    <h5 class="text-center">🤗¡Muchas Gracias!🤗</h5>
  </div>
</article>
