<!-- <section class="section"> -->
<article class="dark-box">
  <h3 class="fluid-4">📭 La lista de MirCha</h3>
  <p class="fluid-1">
    Una vez al mes envío el contenido que escribo, grabo o produzco,
    esperando pueda aportar valor personal o profesional.
  </p>
  <p class="fluid-1">
    Puedes darte de baja en cualquier momento, sin hacer preguntas.
  </p>
  <p class="fluid-2">
    <b>¿Te animas?</b>
  </p>
  <a class="btn-pulse btn-float-right" href="https://tinyletter.com/jonmircha">
    SÍ, me suscribo
  </a>
</article>
<!-- </section> -->
