<section class="full-screen-center services">
  <div class="section">
    <article class="container-lg text-center">
      <h2 class="fluid-5">Servicios</h2>
      <p class="fluid-1">
        Me encanta la colaboración mutua entre <b>profesional</b> y <b>cliente</b>, prefiero la frase:
      </p>
      <p class="fluid-2">
        <b><i>"Trabajo contigo".</i></b>
      </p>
      <p class="fluid-1">
        En vez de: <b><i>Trabajo para ti</i></b>.
      </p>
    </article>
    <h3 class="fluid-4 text-center">¿Qué te ofrezco?</h3>
    <article class="container-lg services-list">
      <ul>
        <li>Consultoría y mentoría en diseño y desarrollo <i>web</i>.</li>
        <li>Diseño y desarrollo de sitios y aplicaciones <i>web</i>.</li>
        <li>Mentoría en creación de contenidos digitales.</li>
        <li>Cursos presenciales y en línea a la medida.</li>
        <li>Clases Universitarias y de Posgrados.</li>
        <li>Conferencias, charlas y talleres.</li>
        <li>Mentoría en marca personal.</li>
      </ul>
      <img class="img-half" src="img/kenai-work.png" alt="¿Qué te ofrezco?">
    </article>
    <article class="container-lg text-center">
      <h4 class="fluid-1">Comencemos tu nuevo proyecto, escríbeme a</h4>
      <a class="btn-pulse" href="mailto:hola@jonmircha.com" target="_blank" rel="noopener">
        hola@jonmircha.com
      </a>
    </article>
  </div>
</section>
