<article id="apoyame" class="full-screen-center sponsors">
  <div class="section">
    <aside class="container-sm text-center">
      <h3 class="fluid-2">Si te gusta y te sirve mi contenido</h3>
      <h2 class="fluid-5">
        <i>¡Apóyame!</i>
      </h2>
      <p class="fluid-1">
        Paso la mayor parte de mi tiempo haciendo cursos y tutoriales
        <b>gratuitos</b> sobre desarrollo <i>web</i>.
      </p>
      <p class="fluid-1">
        Únete a las <b>Membresías</b> de mi canal de <i>YouTube</i> donde tengo diferentes <b>recompensas</b> para los
        que me apoyan.
      </p>
      <p class="fluid-1">
        También puedes invitarme un taco 🌮 por <i>Paypal</i><br>o hacer una donación 🤑 a mi cuenta de banco.
      </p>
      <h3>🤗¡Muchas Gracias!🤗</h3>
    </aside>
    <aside class="container-lg flex-grid-center">
      <a class="box-shadow-none sponsor" href="https://www.paypal.me/jonmircha" style="color: #00457c;">
        <img src="img/sponsors/paypal.svg" alt="Paypal" loading="lazy">
        <h3>Paypal</h3>
      </a>
      <a class="box-shadow-none sponsor" href="https://www.youtube.com/jonmircha/join" style="color: #f00;">
        <img src="img/sponsors/youtube.svg" alt="YouTube" loading="lazy">
        <h3>YouTube</h3>
      </a>
      <a class="box-shadow-none sponsor" href="#donaciones" style="color:#056DAE;">
        <img src="img/sponsors/citibanamex.svg" alt="Citibanamex" loading="lazy">
        <h3>Citibanamex</h3>
      </a>
      <!-- <a class="box-shadow-none sponsor" href="https://www.patreon.com/jonmircha" style="color: #f96854;">
        <img src="img/sponsors/patreon.svg" alt="Patreon" loading="lazy">
        <h3>Patreon</h3>
      </a>
      <a class="box-shadow-none sponsor" href="https://www.ko-fi.com/jonmircha" style="color: #F16061;">
        <img src="img/sponsors/ko-fi.svg" alt="Ko-fi" loading="lazy">
        <h3>Ko-fi</h3>
      </a> -->
    </aside>
  </div>
</article>
<sergey-import src="components/modal-donations.html" />
