<article class="support no-print">
  <div class="section">
    <aside class="container-sm text-center full-screen-center">
      <article>
        <h3>Si te gusta y te sirve mi contenido</h3>
        <h2><i>¡Apóyame!</i></h2>
        <p>
          Paso la mayor parte de mi tiempo haciendo cursos y tutoriales
          <b>gratuitos</b> sobre diseño y desarrollo <i>web</i>.
        </p>
        <p>
          Puedes invitarme un taco 🌮 por
          <a href="https://www.paypal.com/paypalme/jonmircha" target="_blank"
            ><i>Paypal</i></a
          >.
        </p>
        <p>
          También puedes hacerme una cripto donación en <i>ethereum</i> 🤑 a mi
          <i>wallet</i> de <i>metamask</i> 🦊:
          <br />
          <small>
            <b>0x61f6745B4E772A6E4526C549C466576B380D7A73</b>
          </small>
        </p>
        <h3>¡Muchas Gracias!</h3>
      </article>
    </aside>
  </div>
</article>
