<section class="post section">
  <article id="post-blog" class="container-lg text-center"></article>
  <hr>
  <article class="container-md">
    <sergey-import src="blog/<sergey-slot />.md" as="markdown" />
  </article>
</section>
<sergey-import src="components/share-social-media.html" />
<sergey-import src="components/newsletter.html" />
<sergey-import src="components/disqus-comments.html" />
<sergey-import src="components/youtube-playlist.html" />
<sergey-import src="components/sponsors.html" />
