<section id="youtube-sponsor" class="full-screen-center youtube-sponsor">
  <div class="section full-screen-center">
    <article class="container-lg text-center">
      <h2 class="fluid-5">Patrocinadores</h2>
      <p class="fluid-2">
        Si está interesado en patrocinar videos en mi canal de
        <a href="https://youtube.com/jonmircha?sub_confirmation=1"><i>YouTube</i></a>, envíame un correo para conocer
        los precios y términos.
      </p>
      <div class="section">
        <a class="btn-pulse" href="mailto:hola@jonmircha.com" target="_blank" rel="noopener">
          hola@jonmircha.com
        </a>
      </div>
      <aside class="flex-grid-center flex-row-evenly-center ">
        <span>
          <b class="fluid-5" id="yt-subscribers"></b>
          <br />
          SUSCRIPTORES
        </span>
        <span>
          <b class="fluid-5" id="yt-views"></b>
          <br />
          VISTAS
        </span>
        <span>
          <b class="fluid-5" id="yt-videos"></b>
          <br />
          VIDEOS
        </span>
      </aside>
      <small class="">
        última actualización de cifras: <b id="yt-date"></b>
      </small>
    </article>
  </div>
</section>
