<section class="section">
  <aside class="container-sm">
    <p class="fluid-1">
      También puedes escuchar mis <b><i>lives</i></b>, <b><i>vlogs</i></b> y <b><i>podcasts</i></b>, sobre diferentes
      temas
      de interés.
    </p>
    <p class="fluid-1">
      Si te gusta este contenido, no olvides compartir y comentar en los videos.
    </p>
  </aside>
  <aside class="flex-grid-center">
    <article class="course">
      <a class="box-shadow-none" href="https://www.youtube.com/playlist?list=PLvq-jIkSeTUaA8VZr01P5nxtW73jrSrLi">
        <img
          src="https://i.ytimg.com/vi/DC6-4E9bsjM/hqdefault.jpg?sqp=-oaymwEXCNACELwBSFryq4qpAwkIARUAAIhCGAE=&rs=AOn4CLBgBhXHjW4TFnsjSPzzfjMf3qbdbg"
          alt="Lives" loading="lazy">
      </a>
      <div>
        <h3><i>Lives</i></h3>
        <p>
          Emisiones en vivo donde conversamos sobre diversos temas del maravilloso mundo de la
          web.
        </p>
      </div>
    </article>
    <article class="course">
      <a class="box-shadow-none" href="https://www.youtube.com/playlist?list=PLvq-jIkSeTUaourms9u_1KfoMtCWuLgvv">
        <img
          src="https://i.ytimg.com/vi/tp8LpAbg6m8/hqdefault.jpg?sqp=-oaymwEXCNACELwBSFryq4qpAwkIARUAAIhCGAE=&rs=AOn4CLCBjCuC3UzpPkOTTINEMwqJg69UYw"
          alt="Vlog" loading="lazy">
      </a>
      <div>
        <h3><i>Vlog</i></h3>
        <p>
          Videos de opinión sobre diferentes temáticas de interés personal y profesional.
        </p>
      </div>
    </article>
    <article class="course">
      <a class="box-shadow-none" href="https://shorturl.at/kquRZ">
        <img
          src="https://i.ytimg.com/vi/1ZNNuMvTJB8/hqdefault.jpg?sqp=-oaymwEXCNACELwBSFryq4qpAwkIARUAAIhCGAE=&rs=AOn4CLA_nXz6Iv6ZfxwXIl3Kt2koi75z7w"
          alt="ResilienteSoy" loading="lazy">
      </a>
      <div>
        <h3><i>ResilienteSoy</i></h3>
        <p>
          Desarrollo personal, motivación, filosofía, minimalismo, estoicismo, vida saludable, consciente y sustentable.
        </p>
      </div>
    </article>
  </aside>
</section>
