@font-face {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(../fonts/raleway-400.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
    U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215,
    U+FEFF, U+FFFD;
}

@font-face {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 900;
  font-display: swap;
  src: url(../fonts/raleway-900.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
    U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215,
    U+FEFF, U+FFFD;
}

:root {
  --primary-color: #e7562e;
  --link-color: #08c;
  --code-color: #343d4d;
  --font-family: "Raleway", sans-serif;
}

html {
  box-sizing: border-box;
  font-family: var(--font-family);
  font-size: 16px;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

body {
  margin: 0;
  font-size: clamp(1rem, 3vw, 4rem);
}

a {
  color: var(--link-color);
  transition: color 0.3s ease-out, opacity 0.3s ease-in;
}

a:hover {
  color: var(--primary-color);
  opacity: 0.75;
}

h1 {
  font-size: 2em;
  margin-block-start: 0.67em;
  margin-block-end: 0.67em;
}

img {
  max-width: 100%;
  min-height: auto;
  max-height: 50vh;
  object-fit: contain;
}

li {
  text-align: left;
}

:not(pre) > code[class*="language-"],
pre[class*="language-"] {
  background: var(--code-color);
}

.slides {
  width: 100%;
  height: 100vh;
  overflow-y: scroll;
  scroll-snap-type: y mandatory;
}

.slide {
  width: 100%;
  height: inherit;
  display: flex;
  justify-content: center;
  align-items: center;
  scroll-snap-align: center;
}

.slide-container {
  width: 90%;
  max-height: 90vh;
  margin: auto;
  text-align: center;
}

.grid-2 {
  display: grid;
  grid-template-columns: 50% 50%;
  align-items: center;
}

.grid-3 {
  display: grid;
  grid-template-columns: 33% 34% 33%;
  align-items: center;
}

[class^="grid-"] > * {
  padding: 2rem;
}

[class^="grid-"] li {
  max-width: initial;
  margin: initial;
}

[class^="grid-"] > ol,
[class^="grid-"] > ul {
  align-self: start;
}

[class^="w-"] {
  margin: 0 auto;
}

.w-50 {
  max-width: 50%;
}

.w-60 {
  max-width: 60%;
}

.w-70 {
  max-width: 70%;
}

.w-80 {
  max-width: 80%;
}

.w-90 {
  max-width: 90%;
}

.font-big {
  font-size: clamp(1rem, 3vw, 3rem);
}

.font-medium {
  font-size: clamp(1rem, 3vw, 2.5rem);
}

.font-small {
  font-size: clamp(1rem, 3vw, 2rem);
}
