@import url('http://fonts.googleapis.com/css?family=Raleway:800,400,300');

html{
	font-family: "Raleway", sans-serif;
	font-weight: 400;
	color: #FFF;
	background-color: rgba(255, 87, 0, .9);
	background-image: url("../img/fondo.png");
	background-repeat: repeat;
}

::selection { background: #FF5700; }

::-moz-selection { background: #FF5700; }

a { 
	color: #FF5700;
	text-decoration: none;
}

a:hover { color: #FFF; }

hr {
	margin: 1rem auto;
	width: 90%;
	border-color: #FF5700;
}

.wow { visibility: hidden; }

.br { margin: 1rem auto; }

.item { font-size: 1.25rem; }

.jonmircha { 
	height: 100vh;
	width: 100vw;
	background-color: #000;
}

.main-title {
	font-size: 10vw;
	margin: 20vh auto 0; 
}

.main-title:after {
	color: #FF5700;
	content: '>';
}

.main-title:before {
	color: #FF5700;
	content: '<';
}

.slogan {
	margin-left: 2.8vw;
	font-size: 2.4vw;
}

.f-vw *, .menu .fa { font-size: 5vw; }

.arrow-down {
	position: absolute;
	left: 47.5vw;
	bottom: 0;
	z-index: 999;
	display: block;
	height: 5vw;
	width: 5vw;
}

.arrow-down i {
	position: relative;
	z-index: 998;
	display: block;
	font-size: 5vw;
}

.slides {
	overflow: hidden;
	width: 100%;
	min-height: 100vh;
	background-color: rgba(0, 0, 0, .85);
}

.sticky {
	position: -webkit-sticky;
	position: sticky;
	top: 0;
	z-index: 998;
}

.sticky:before, .sticky:after {
	content: '';
	display: table;
}

.subtitle { 
	margin-top: 0rem;
	margin-bottom: 0rem;
	padding: .5rem;
	font-size: 2.5rem;
	text-align: center;
	background-color: rgba(255, 87, 0, .75);
	color: #FFF;
}

.bg-color { background-color: rgba(255, 255, 255, .1); }

.bg-color-orange { background-color: rgba(255, 87, 0, .75); }

.hello img { 
	position: relative;
	z-index: 1000 !important;
	margin-top: 1rem;
	max-width: 200px;
	-webkit-filter: grayscale(1);
	filter: grayscale(1);
	transition: all .5s ease-out;
}

.hello img:hover { 
	-webkit-filter: grayscale(0);
	filter: grayscale(0);
}

.hello figcaption { font-size: 1.5rem; }

.hello p { 
	padding: 1rem; 
	font-size: 1.25rem;
	text-align: center;
}

.hello p:first-child, .hello p:nth-child(2) { text-align: left; }

.hello p:last-child { padding-bottom: 3rem; }

.hello li { 
	list-style-position: inside;
	text-align: center;
}

.description {
	margin: 1rem auto 0;
	width: 90%;
}

.resume article { margin: 1rem 1rem 0; }

.resume article:last-child { margin-bottom: 1rem; }

.resume h3, .resume h4, .works h3, .works h4 {
	padding-top: 1rem;
	font-size: 2rem;
}

.resume h4, .works h4 { font-size: 1.75rem; }

.resume-data { list-style: none; }

.resume-data li > * { display: block; }

.sprite-projects { 
	height: 200px;
	width: 200px;
	display: block;
	background-color: transparent;
	background-image: url('img/projects.png');
	background-repeat: no-repeat;
	background-size: 100%;
	transition: all .5s ease-out;
	-webkit-filter: grayscale(1);
	filter: grayscale(1);
}

.projects a:hover > i {
	-webkit-filter: grayscale(0);
	filter: grayscale(0);
}

.bextlan { background-position: 0 0%; }
.cafe-latino { background-position: 0 50%; }
.responsimple { background-position: 0 100%; }

.projects figure { margin: 0 0 1rem; }

.projects a { color: #FFF; }

.projects figcaption { padding-bottom: 1rem; }

.projects figcaption > * { padding: .5rem 0; }

.links-works a { 
	display: block;
	transition: all .5s ease-out;
}

.menu {
	position: fixed;
	left: 0;
	bottom: 0;
	opacity: 0;
	z-index: 998;
	width: 100%;
	transition: all .5s ease-out;
}

.menu > .container { background-color: rgba(0, 0, 0, 1); }

.marathons { padding-bottom: 4rem; }

.sprite-customers { 
	height: 100px;
	width: 100px;
	display: block;
	background-color: #FFF;
	background-image: url('img/customers.png');
	background-repeat: no-repeat;
	background-size: 100%;
	transition: all .5s ease-out;
}

.sprite-customers:hover { 
	opacity: .75;
	transform: scale(1.1, 1.1);
}
 
.aaalac { background-position: 0 0%; }
.adm { background-position: 0 5%; }
.american-cotton { background-position: 0 10%; }
.banxico { background-position: 0 15%; }
.codejobs { background-position: 0 20%; }
.comex { background-position: 0 25%; }
.desarrollo-web { background-position: 0 30%; }
.escuela-it { background-position: 0 35%; }
.gamol { background-position: 0 40%; }
.iconos { background-position: 0 45%; }
.liverpool { background-position: 0 50%; }
.mactrainee { background-position: 0 55%; }
.mvs { background-position: 0 60%; }
.reforma { background-position: 0 65%; }
.segob { background-position: 0 70%; }
.unam { background-position: 0 75%; }
.unitec { background-position: 0 80%; }
.univdep { background-position: 0 85%; }
.usb { background-position: 0 90%; }
.uvm { background-position: 0 95%; }
.voit { background-position: 0 100%; }

@media screen and (min-width: 30em) {
	.f-vw * { font-size: 4vw; }

	.arrow-down {
		left: 47.5vw;
		height: 5vw;
		width: 5vw;
	}

	.arrow-down i { 
		display: block;
		font-size: 5vw;
	}

	.links-works li {
		margin-top: .25rem;
		margin-bottom: .25rem;
	}

	.sprite { 
		height: 120px;
		width: 120px;
	}

	.marathons div { height: 7rem; }
}

@media screen and (min-width: 48em) {
	.f-vw * { font-size: 3vw; }

	.resume article { margin: 1rem; }

	.projects div {	margin: -1rem; }

	.projects figure { 
		margin: 1rem;
		padding: 0 1rem;
	}

	.sprite { 
		height: 150px;
		width: 150px;
	}

	.marathons div { height: 5.25rem; }
}

@media screen and (min-width: 64em) {
	.item { font-size: 1rem; }

	.f-vw * { font-size: 2vw; }

	.arrow-down {
		left: 48.5vw;
		height: 3vw;
		width: 3vw;
	}

	.arrow-down i { font-size: 3vw; }

	.hello figcaption { font-size: 1.5rem; }

	.resume article:first-of-type { order: 1; }
	
	.resume article:nth-of-type(2) { order: 3; }
	
	.resume article:nth-of-type(3) { order: 0; }
	
	.resume article:last-of-type { order: 4; }
}